html,
body {
  width: 100%;
  height: 100%;
  background-color: #d74e4e
  font-family: 'Times New Roman', serif;

}

/* FLOWCHART */

section {

}


div {
  margin: auto;
  background-color: #d74e4e;

}

.table {
  background-color: #ffd1a9;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 10px;

}
