html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Times New Roman', serif;

}

/* FLOWCHART */

section {
  background-color: #CCCCCC;

}

div {
  background-color: #AAAAAA;
  margin: auto;
  padding: 10px;

}

#table {
  background-color: #EEEEEE;
  border: 1px solid #000000;
}
